<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}"><i class="fa-solid fa-eye"></i> VER</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i class="fa-solid fa-pen-to-square"></i> EDITAR</button></td>
        <td><button *ngIf="producto.id !== undefined" class="btn btn-outline-danger" (click)="borrar(producto.id)"><i class="fa-solid fa-trash"></i> BORRAR</button></td>
      </tr>
    </tbody>
  </table>